@import "lib/font-fix"; // ** IMPORTANT: DO NOT REMOVE THIS LINE **

body {
  background-color: #591c0e;
}

#main-wrapper, #banner {
  margin-left: 15px;
  margin-right: 15px;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

.parallax-container {
  margin-top: 20px;
}

.fillerDiv p {
  color: white;
  max-width: 40px;
}

.footer-title {
  text-align: center;
}

#map {
  height: 400px;
  width: 100%;
}