<template name="footer">
  <div class="divider"></div>
  <h4 class="footer-title">We Would Love to Have You Visit Soon!</h4>

  <div class="container"><div class="divider"></div></div>
  <div class="row">
    <div id="map-container" class="col s12">
      <div id="map"></div>
    </div>
  </div>
  <script>
    function initMap() {
      const loc = {lat: 45.3275534, lng: -122.583978};
      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        center: loc
      });
      const marker = new google.maps.Marker({
        position: loc,
        map: map
      });
    }
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
  </script>
</template>

<body>
</body>