<template name="hello">
  <button class="btn">Click Me</button>
  
  <div class="parallax-container">
    <div class="parallax"><img src="/img/treatment_room_1.jpg"></div>
  </div>
  <!--<div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>-->
  <div id="fillerDiv">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium assumenda at culpa delectus distinctio dolorem ducimus eveniet, ex explicabo facere fuga fugit impedit laborum modi natus quia sed voluptate?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dolor dolorum ea eligendi, fuga ipsa ipsum libero nam necessitatibus nesciunt officiis perferendis, perspiciatis porro quia quo veniam voluptas voluptatem?
    </p>
  </div>
  
</template>