<template name="hello">
  
  <div class="parallax-container">
    <div class="parallax"><img src="/img/treatment_room_1.jpg"></div>
  </div>

  <div class="fillerDiv">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium assumenda at culpa delectus distinctio dolorem ducimus eveniet, ex explicabo facere fuga fugit impedit laborum modi natus quia sed voluptate?</p>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src="/img/treatment_room_1.jpg"></div>
  </div>

  <div class="fillerDiv">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias at consequuntur corporis, error et fugiat harum illo in laboriosam optio placeat quasi quo rerum sit veniam, vitae? Accusantium, molestias.</p>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src="/img/treatment_room_1.jpg"></div>
  </div>

  <div class="fillerDiv">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cumque delectus dignissimos dolores eum ex harum, id ipsum laudantium magni mollitia nesciunt non nostrum, porro quidem sed sequi totam vero.</p>
  </div>
  <!--<div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>-->
  
</template>