<template name="nav">
  <!--TODO: figure out fixed navbar on scroll past banner.-->
  <nav>
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services Available</a></li>
        <li><a href="/center">Our Center</a></li>
        <li><a href="/boutique">Wellness Boutique</a></li>
        <li><a href="/appointments">Appointments</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
      </ul>
    </div>
  </nav>
</template>